* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.notes {
    display: flex;
    flex-wrap: wrap;
}

.note {
    margin: 10px;
    flex-basis: calc(100% / 3 - 40px);
    border-radius: 10px;
    background-color: #ddddff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user {
    text-align: right;
    font-size: 12px;
    color: #333;
}

.title {
    font-size: 20px;
    font-weight: bold;
}
